@import url(TeamSpeak.css);

:root,
::after,
::before {
  /* --- Base Color Palette  --- */

  /* Accent Color */
  --teamspeak-blue: #007bff;                  
  --teamspeak-blue-hover: #0056b3;            
  --teamspeak-blue-transparent: rgba(0, 123, 255, 0.3); 
  --teamspeak-blue-transparent-light: rgba(0, 123, 255, 0.1); 

/*image from chat Background*/
.ts-chat-input-container {
  background: url(BlueCelestial.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}
