@import url(TeamSpeak.css);
:root,
::after,
::before {
  /* --- Base Color Palette  --- */

  /* Accent Color */
  --teamspeak-blue: #6f42c1;                  
  --teamspeak-blue-hover: #5a32a3;            
  --teamspeak-blue-transparent: rgba(111, 66, 193, 0.3); 
  --teamspeak-blue-transparent-light: rgba(111, 66, 193, 0.1); 




