@import url(TeamSpeak.css);

:root, ::after, ::before {
  --custom-color-accent-light: #BF5AF2;
  --custom-color-accent-dark: #8E44AD;
  --custom-color-accent-light-t: rgba(191, 90, 242, 0.5);
  --custom-color-accent-dark-t: rgba(142, 68, 173, 0.5);
  --custom-color-slider1: #BF5AF2;
  --custom-color-slider2: #7D3C98;
}

/*Image from chat Background*/
.ts-chat-input-container {
  background: url(PurpleWitch.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}



